{% extends "fourth_task/menu.html" %}

{% block title %}
Вы находитесь в кредитном отделе
{% endblock %}

{% block content %}
<h2>
    Выберите банк:
</h2>
<ul>
    <li>
        Сбербанк
        <a href="https://www.sberbank.ru">
            <button>Оформить кредит</button>
        </a>
    </li>
    <li>
        Т-Банк
        <a href="https://www.t-bank.ru">
            <button>Оформить кредит</button>
        </a>
    </li>
</ul>
<h2>
<a href="http://127.0.0.1:8000/">На главную</a>
</h2>


{% endblock %}